<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>vue-2-boilerplate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.1/vue.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  </head>
  <body>
    <div id="app" class="container ">     
        <div class='center'><span v-for="card in hand " ><img v-bind:src="card.url"></span></div>
        <h1 class='header center blue-text'>{{check[1]}}</h1>
        <button class='btn-large waves-effect waves-light blue right' v-on:click="deal">deal</button>
    </div>
    
      <script src="app.js"></script>
      <style>
          .mid{
            position: relative;
            top: 50%;
            transform: translateY(-50%);
          }
      </style>
  </body>
</html>